<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PyCoders Health Reporter</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>PyCoders Health Reporter</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/covid">Covid-19 Test</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/breastcancer">Breast Cancer Test</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/diabetes">Diabetes Test</a>
          </li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bettter medical experience with PyCoders Health Reporter</h1>
          <h2>We are team of talented engineers making medical testing easy and fast with AI</h2>
          <div>
            <a href="#services" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/assets/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= TagLine Section ======= -->
    <section id="tagline" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="static/assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">No longer science fiction, AI is transforming healthcare</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              As AI becomes more complex, it can perform human tasks with greater speed, efficiency, and accuracy.
              at a lesser price. Both robotics and AI have enormous potential in the field of healthcare. Like in our
              daily lives
              Our healthcare eco-system is becoming increasingly reliant on lives, AI, and robotics.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Diagnosis</h4>
                <p>Healthcare businesses are using IBM's Watson for Health to deploy cognitive technology to unlock
                  massive volumes of health data and enable diagnostics.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Decision Making</h4>
                <p>Predictive analytics can support clinical decision-making and actions and help prioritise
                  administrative activities. Improving treatment involves the alignment of massive health data with
                  suitable and timely judgments.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End TagLine Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out the services we have to offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <h4 class="title"><a href="">Covid-19 Detection</a></h4>
              <p class="description">We detect Covid-19 using convolutional neural network algorithm.</p>
              <br><br>
              <div id="hero" style="height: 13vh; margin: 0px 0px 1vh 0px">
                <a href="/covid" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Breast Cancer Detection</a></h4>
              <p class="description">We are doing Breast Cancer detection using model trained using the Random Forest
                algorithm.</p>
              <br><br>
              <div id="hero" style="height: 13vh; margin: 0px 0px 1vh 0px">
                <a href="/breastcancer" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4 class="title"><a href="">Diabetes Detection</a></h4>
              <p class="description">We are detecting Diabetes using Artifical Neural Networks model.</p>
              <br><br>
              <div id="hero" style="height: 13vh; margin: 0px 0px 1vh 0px">
                <a href="/diabetes" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="static/assets/img/team.svg" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Our Team - PyCoders</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            This project is a part of our AML 2203_1 - Advanced Python AI and ML tools class and is presented as our
            Final Project.
          </p>
          <br><br>
          <div data-aos="fade-up" data-aos-delay="200">
            <h4>Our Team members</h4>
            <ul>
              <li>
                <h5>Mukul Bisht</h5>
              </li>
              <br>
              <li>
                <h5>Neelesh Vashist</h5>
              </li>
              <br>
              <li>
                <h5>Rohit Kumar</h5>
              </li>
              <br>
              <li>
                <h5>Saurabh Singh</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-6 footer-contact">
            <h3>PyCoders Health Reporter</h3>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/covid">Covid-19 Test</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/breastcancer">Breast Cancer Test</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/diabetes">Diabetes Test</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        <strong><span>AML 2203_1 - Advanced Python AI and ML Tools - PROJECT</span></strong>
      </div>
      <div class="credits">
        Made by PyCoders Team
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
</body>

</html>